Options -MultiViews
RewriteEngine On
RewriteBase /

# Allow existing files/folders to load normally
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Send everything else to React's index.html
RewriteRule ^ index.html [L]
